@font-face {
  font-family: 'sunset-icon';
  src:  url('../fonts/sunset-icon.eot?mla39b');
  src:  url('../fonts/sunset-icon.eot?mla39b#iefix') format('embedded-opentype'),
  url('../fonts/sunset-icon.ttf?mla39b') format('truetype'),
  url('../fonts/sunset-icon.woff?mla39b') format('woff'),
  url('../fonts/sunset-icon.svg?mla39b#sunset-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sunset-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sunset-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sunset-facebook:before {
  content: "\e901";
}
.sunset-googleplus:before {
  content: "\e902";
}
.sunset-twitter:before {
  content: "\e900";
}
.sunset-audio:before {
  content: "\e903";
}
.sunset-chevron-left:before {
  content: "\e904";
}
.sunset-chevron-right:before {
  content: "\e905";
}
.sunset-close:before {
  content: "\e906";
}
.sunset-comment:before {
  content: "\e907";
}
.sunset-link:before {
  content: "\e908";
}
.sunset-loading:before {
  content: "\e909";
}
.sunset-logo:before {
  content: "\e90a";
}
.sunset-menu:before {
  content: "\e90b";
}
.sunset-pencil:before {
  content: "\e90c";
}
.sunset-pics:before {
  content: "\e90d";
}
.sunset-search:before {
  content: "\e90e";
}
.sunset-share:before {
  content: "\e90f";
}
.sunset-tag:before {
  content: "\e910";
}
.sunset-video:before {
  content: "\e911";
}
