/**
 * @package sunsettheme
 */
/*
    Variables
	---------------------------------------------
 */
$body-font: 'Raleway', 'Helvetica Neue', Arial, Verdana, sans-serif;

$white: #fff;
$primary-color: #000;
$dark-grey: #333;
$light-grey: #898989;
$lighter-grey: #f1f1f1;